:root {
    --primary-color-light: #00d4ff;
    --primary-color-dark: #007bff;
    --text-color-primary: #333;
    --text-color-secondary: #555;
    --background-color: #ffffff;
    --hover-color-light: #008cff;
    --hover-color-dark: #0056b3;
    --alert-color-light: #ff2f2f;
    --alert-color-dark: #e60000;
  }
  
  /* Global Styles */
  body {
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    color: var(--text-color-primary);
  }
  
  /* NavBar Style Start */
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: var(--background-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    margin: 1em;
    position: relative;
  }
  
  #appName {
    font-size: 2em;
    font-weight: bold;
    background: linear-gradient(
      45deg,
      var(--primary-color-dark),
      var(--primary-color-light)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navMenu {
    text-decoration: none;
    color: var(--text-color-primary);
    margin: 0 1em;
    font-size: 1.3em;
    transition: 0.3s;
  }
  
  .navMenu:hover {
    color: var(--primary-color-dark);
  }
  
  /* Burger Icon */
  .burgerIcon {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .burgerIcon div {
    width: 25px;
    height: 3px;
    background-color: var(--text-color-primary);
    margin: 4px 0;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .navBar {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      right: 0;
      background: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
      padding: 1em;
      width: 100%;
      text-align: center;
      font-size: 1em;
    }
  
    .navBar.active {
      display: flex;
      flex-direction: column;
      width: 50%;
    }
  
    .burgerIcon {
      display: flex;
    }
  }
  
/* Footer */
.footer {
    color: var(--text-color-primary);
    padding: 2em;
    text-align: center;
    background: var(--background-color);
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .footerContentText {
    font-size: 1em;
    font-weight: bold;
  }
  