<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/app.js" defer></script>
    <title>The Time Tracker</title>
</head>
<body>

    <!-- NavBar Start -->
    <div class="header">
        <div class="headerContainer">
            <div id="appName">Time Tracker</div>
            <div class="burgerIcon">
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="navBar">
                <a class="navMenu" href="#">Dashboard</a>
                <a class="navMenu" href="#">Team</a>
                <a class="navMenu" href="#">Students</a>
            </div>
        </div>
    </div>
    <!-- NavBar End -->


</body>
</html>
