<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Time Tracker</title>
    <link rel="stylesheet" href="static/css/team.css" />
    <script src="static/js/team.js" defer></script>
  </head>
  <body>
    <!-- NavBar Start -->
    <div class="header">
      <div class="headerContainer">
        <div id="appName">Pyexpo'25</div>
        <div class="burgerIcon" onclick="toggleMenu()">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="navBar">
          <a class="navMenu" href="/">Dashboard</a>
          <a class="navMenu" href="team">Team</a>
          <a class="navMenu" href="students">Students</a>
          <a class="navMenu" href="venue">Venue</a>
          <a class="navMenu" href="venue-management">Venue Management</a>
        </div>
      </div>
    </div>
    <!-- NavBar End -->

    <!-- Team Table Start -->
    <div class="mainTabel">
      <div class="search-container">
        <input type="text" id="searchInput" placeholder="Search Team..." />
        <button id="searchButton">Search</button>
        <button id="clearButton">Clear</button>
      </div>
      <table id="teamTable">
        <thead>
          <tr>
            <th>Team Id</th>
            <th>Team Name</th>
            <th>Time Spent</th>
            <th>Total Time</th>
          </tr>
        </thead>
        <tbody id="tableBody">
          <!-- Table rows will be populated dynamically -->
          {% for team in teams %}
          <tr class="clickable-row">
            <td>{{ team._id }}</td>
            <td>{{ team.name }}</td>
            <td>{{ team.team_time_out().hrs | int }} hrs {{ team.team_time_out().mins | int }} mins</td>
            <td>{{ team.team_total_time() }} hours</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="pagination">
        <button id="prevButton" onclick="prevPage()">Prev</button>
        <span id="pageNumber">1</span>
        <button id="nextButton" onclick="nextPage()">Next</button>
      </div>
    </div>

    <!-- Team Table End -->

    <!-- Footer Start -->
    <div class="footer">
      <div class="footerContentText">
        Designed and Developed by Ips Tech Community
      </div>
    </div>
    <!-- Footer End -->
  </body>
</html>
