<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/teamDetails.css" />
    <script src="static/js/teamDetails.js" defer></script>
    <title>The Time Tracker</title>
  </head>
  <body>
    <!-- NavBar Start -->
    <div class="header">
      <div class="headerContainer">
        <div id="appName">Pyexpo'25</div>
        <div class="burgerIcon" onclick="toggleMenu()">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="navBar">
          <a class="navMenu" href="/">Dashboard</a>
          <a class="navMenu" href="team">Team</a>
          <a class="navMenu" href="students">Students</a>
          <a class="navMenu" href="venue">Venue</a>
          <a class="navMenu" href="venue-management">Venue Management</a>
          <a class="navMenu" href="manual_entry">Manual Entry</a>
        </div>
      </div>
    </div>
    <!-- NavBar End -->

    <!-- Main Container Start -->
    <div class="mainContainer">
      <div class="mainContent">
        <div class="mainContentHeader">
          <div class="mainContentHeaderTitle">Team Details</div>
        </div>
        <div class="mainContentBody" id="teamData">
          <div class="mainContentBodyCard">
            <div class="mainContentBodyCardTitle">Team Name</div>
            <div class="mainContentBodyCardValue">
              {{team_data.name if team_data else 'N/A'}}
            </div>
          </div>
          <div class="mainContentBodyCard">
            <div class="mainContentBodyCardTitle">Time Spent</div>
            <div class="mainContentBodyCardValue">
              {{team_data.team_time_out().hrs | int if team_data else 'N/A'}} hrs {{team_data.team_time_out().mins | int if team_data else 'N/A'}} mins
            </div>
          </div>
          <div class="mainContentBodyCard">
            <div class="mainContentBodyCardTitle">Total Time</div>
            <div class="mainContentBodyCardValue">
              {{total_time if total_time else 'N/A'}} hours
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Main Container End -->

    <!-- Team Table Start -->
    <div class="mainTabel">
      <table id="teamTable">
        <thead>
          <tr>
            <th>Students Name</th>
            <th>Roll Number</th>
            <th>Time Spent</th>
            <th>Total Time</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody id="tableBody">
          <!-- Table rows will be populated dynamically -->
          {% for student in students_in_team %}
          <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.roll_num }}</td>
            <td>{{ student.time_out().hrs | int }} hrs {{ student.time_out().mins | int }} mins </td>
            <td>{{ total_time }} hours</td>
            <td>{{ student.status() }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Team Table End -->

    <!-- Footer Start -->
    <div class="footer">
      <div class="footerContentText">
        Designed and Developed by Ips Tech Community
      </div>
    </div>
    <!-- Footer End -->
  </body>
</html>
