<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/venue.css" />
    <script src="/static/js/venue.js"></script>
    <title>Venue Overview</title>
  </head>
  <body>
    <!-- Navbar -->
    <div class="header">
      <div class="headerContainer">
        <div id="appName">Pyexpo'25</div>
        <div class="burgerIcon" onclick="toggleMenu()">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="navBar">
          <a class="navMenu" href="/">Dashboard</a>
          <a class="navMenu" href="team">Team</a>
          <a class="navMenu" href="students">Students</a>
          <a class="navMenu" href="venue">Venue</a>
          <a class="navMenu" href="venue-management">Venue Management</a>
        </div>
      </div>
    </div>

    <!-- Main Content -->
    <div class="table-container">
      <!-- Venue List Table -->
      <div class="table-wrapper">
        <h3>Venue List</h3>
        <table class="venue-table">
          <thead>
            <tr>
              <th>Venue Name</th>
              <th>Capacity</th>
            </tr>
          </thead>
          <tbody id="venueList">
            {% for venue in venues%}
              <tr>
                <td> {{ venue.name }} </td>
                <td> {{ venue.total_capacity }} </td>
              <tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- Pagination for Venue Table -->
        <div id="venueList-pagination" class="pagination-container"></div>
      </div>
    
      <!-- Student List Table -->
      <div class="table-wrapper">
        <h3>Students</h3>
        <table class="student-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Team</th>
              <th>Current Venue</th>
            </tr>
          </thead>
          <tbody id="studentList">
            {% for student in students %}
              <tr>
                <td> {{ student.name }} </td>
                <td> {{ student.team }} </td>
                <td> {{ student.venue }} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- Pagination for Student Table -->
        <div id="studentList-pagination" class="pagination-container"></div>
      </div>
    
      <!-- Team & Student Locations Table -->
      <div class="table-wrapper">
        <h3>Teams & Student Locations</h3>
        <table class="team-table">
          <thead>
            <tr>
              <th>Team</th>
              <th>Students</th>
              <th>Venue</th>
            </tr>
          </thead>
          <tbody id="teamList">
            {% for team in teams %}
              <tr>
                <td> {{ team.team }} </td>
                <td> {{ team.members | join(', ') }} </td>
                <td> {{ team.venue}} </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <!-- Pagination for Team Table -->
        <div id="teamList-pagination" class="pagination-container"></div>
      </div>
    </div>
    
    <!-- Footer Start -->
    <div class="footer">
      <div class="footerContentText">
        Designed and Developed by IPS Tech Community
      </div>
    </div>
    <!-- Footer End -->
  </body>
</html>
